{% extends 'about/about_base.html' %}
{% load static %}
{% block title %}
    <title>About IIIT</title>
{% endblock %}

{% block content %}
    <div class="col-sm-10" style="padding: 20px;">
        <span class="border-bottom border-dark"></span>
        <h2>About IIIT</h2>
        <div class="underline"></div>
        <p>Information Technologies (IT) have become a critical part of today's global economy. Infrastructural
            development and government policies have led to an increase in the use of IT in every sphere of life. Demand
            for IT products and services has grown relatively rapidly over the past few years. To address the challenges
            faced by the Indian IT industry and growth of the domestic IT market, the Ministry of Human Resource
            Development (MHRD), Government of India has set up Indian Institutes of Information Technology (IIIT) .

            A major objective in establishing IIITs is to set up a model of education which can produce best-in-class
            human resource in IT and harness the multi-dimensional facets of IT in various domains, such as design,
            manufacturing and management. These institutes :
        <ul>
            <li>Are autonomous, research-led education institutions.</li>
            <li> Are set up by an Act of Parliament</li>
            <li> Are set up to contribute significantly to the global competitiveness of key sectors of the Indian
                economy
                and industry.
            </li>
            <li> Are focused on applied research and education in IT in selected domain areas and other emerging
                disciplines.
            </li>

        </ul>
        </p>
        <h4>Mandate</h4>
        <p>These institutes shall:
        <ul>
            <li>Develop sustainable growth plans to address increased usage of IT in business and growth of IT sector in
                itself.
            </li>
            <li>Work closely with industry and academia to bridge the gap towards furtherance of the country.
            </li>
            <li>Create relevant and sufficient infrastructure to address capacity building needs and conduct need based
                academic programs at various levels targeting increased employability of the youth.
            </li>
            <li>Conduct tailor made capsule training modules for professionals.
            </li>
            <li>Conduct research and development in the IT towards inculcation of digital culture in every strata of the
                society and to develop research based IT tools to address socio economic growth.
            </li>
            <li>Constantly upgrade technologies, processes and output training programs to stay at par with or exceed
                global standards.
            </li>
        </ul>
        </p>
        <h4>Genesis of IIIT</h4>
        <p>Seeded by the Computer Policy (1984), Electronic Policy (1985) and catalyzed by the Software Policy (1986),
            India witnessed a rise in computer awareness and adoption of automation tools. Around the dawn of 20th
            century, realizing that India would require a different class of engineers to drive the future of Indian
            growth, the government of India set up a committee under the aegis of Dr. P. G. Reddy to study the
            comprehensive state of software education and its utilization in India. This committee clearly identified a
            need to setup dedicated institutions to address the growing demand of skilled information technology
            engineers.
            <br><br>
            Between 1997 and 2015, the Government of India has established five centrally funded institutions focused on
            imparting education in the field of Information Technology and its derivatives. Responding to the permeation
            of IT in every aspect of Industrial growth, two of these institutions are additionally mandated with the
            task of imparting knowledge in IT driven design and manufacturing. With India rapidly embracing IT even in
            legacy domains and the government fostering IT innovations by way of programs such as Digital India etc.,
            the role of IIITs is more important than ever.</p>
        <h4>For Prospective Students and Parents</h4>
        <p> These 5 IIITs together offer over 30 distinct courses for prospective students. These courses range from 4
            year undergraduate courses to doctoral programs. Admission to undergraduate and dual-degree programs require
            successful clearance of the <a href="http://jeemain.nic.in/webinfo/Public/Home.aspx">Joint Entrance
                Examination (JEE)</a> -Main examination and seat allocation by <a
                    href="http://csab.nic.in/WebInfo/home.aspx">Central Seat Allocation Board</a> and <a
                    href="https://josaa.nic.in/">JOSAA</a>
            <br>
            Admission to two year post graduate programs requires a valid <a
                    href="https://www.google.co.in/search?q=GATE">Graduate Aptitude Test in Engineering</a> score and
            successful allocation through <a href="http://ccmt.nic.in/webinfo/Public/Home.aspx">CCMT</a>.
            <br>
            International Students applying for either undergraduate or graduate courses should visit the <a
                    href="https://www.dasanit.org/">Direct Admission for Students Abroad (DASA)</a> program for
            additional information.
            <br>
            All IIITs are fully residential institutions with excellent accommodation, recreational and dining
            facilities for the students. Every campus features a fully networked residential and academic infrastructure
            with state of the art lecture halls and computing and laboratory facilities.</p>
    </div>
{% endblock %}