{% extends 'base/base.html' %}

{% load static %}
{% block head %}
    <title>About</title>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
            <div class="side">
                <div class="block" id="active"><a href="#">About IIIT</a></div>
                <div class="block"><a href="#">IIIT Act</a></div>
                <div class="block"><a href="#">History</a></div>
                <div class="block"><a href="#">Administrative Structure</a></div>
                <div class="block"><a href="#">IIIT System Review Reports</a></div>
                <div class="block"><a href="#">PPP Partners</a></div>
            </div>
        </div>

        {% block content %}

        {% endblock %}
    </div>
</div>