{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>Change Password</title>
{% endblock %}

{%  block body %}
<div class="login-clean" style="background-color: rgb(255,255,255);">
        <form method="post" class="shadow">
        {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h3 class="text-left" style="color: #190056;">Choose New Password</h3>
            </div>
            {% if error %}
                <small class="form-text text-center text-danger border rounded border-danger" style="margin-bottom: 8px;">{{ error }}</small>
            {% endif %}
            <div class="form-group">
                <input class="form-control" type="password" name="old" placeholder="Current Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password1" placeholder="New Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password2" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(25,0,86);">Change Password</button>
            </div>
        </form>
</div>
{% endblock %}