{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>Forgot Password</title>
{% endblock %}

{% block body %}
    <div class="login-clean" style="background-color: rgb(255,255,255);">
        <form method="post" action="{% url 'password_reset_done' %}" class="shadow">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h3 class="text-left" style="color: #190056;">Forgot Password</h3>
            </div>
            {% if error %}
                <small class="form-text text-center text-danger border rounded border-danger"
                       style="margin-bottom: 8px;">{{ error }}</small>
            {% endif %}
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(25,0,86);">Verify
                </button>
            </div>
        </form>
    </div>
{% endblock %}