{% load inlinecss %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="email.css" />
    <title>Reset Password</title>
  </head>
  {% inlinecss 'css/email/password_reset_email.css' %}
  <body>
    <div id="container">
      <h3 id="salutation">Hi, {{ name }}</h3>
      <p>
        You recently requested to change your password for IIIT Council account.
        Please click on button below to change your password.
        <br />
        This link is only valid for <strong>30 minutes.</strong>
      </p>
      <br />
      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" id="anchor" target="_blank">
        <button id="button"><span>Reset Your Password</span></button>
      </a>
      <br />
      <p>
        If above button is not working please open this link or copy and paste
        the URL below into your web browser.
        <br />
        <br />
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
      </p>
      <p>
        If you did not request a password change, please ignore this email or
        let us know by replying to this email.
      </p>
    </div>
  </body>
  {% endinlinecss %}
</html>
