{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{%  block body %}
<div class="login-clean" style="background-color: rgb(255,255,255);">
    <form method="post" class="shadow" action="{% url 'password_reset_complete' %}">
        {% csrf_token %}
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration">
            <h3 class="text-left" style="color: #190056;">Reset Password</h3>
        </div>
        <input type="hidden" value="{{ token }}" name="token">
        <input type="hidden" value="{{ uid }}" name="uid">
        <div class="form-group">
            <input class="form-control" type="password" name="password1" placeholder="New Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password2" placeholder="Confirm password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(25,0,86);">Confirm Password</button>
        </div>
    </form>
</div>
{% endblock %}