{% extends 'base/base.html' %}

{% block head %}
    <title>Innovation Centres</title>
{% endblock %}

{% block body %}
    <h2>Innovation Centres</h2>
    <p style="font-size: 17px;">Innovation plays key role in all the human endeavours. This page will list the details of all the colleges
        that have set up an Innovation Centre.<br></p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name of the Institute</th>
                    <th>Innovation Center</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
                <tr>
                    <td>Indian Institute of Information Technology, Sri City</td>
                    <td><a href="#">Click here to locate on map</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}