{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/coordination_forum/styles.css' %}">
    {% block title %}
        <title>Coordination Forum</title>
    {% endblock %}
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                <div class="side">
                    <div class="block" {% if active == 'chairman' %} id="active"> {% endif %}<a
                            href="{% url 'chairman' %}">Chairman</a></div>
                    <div class="block" {% if active == 'secretary' %} id="active">{% endif %}<a
                            href="{% url 'secretary' %}">Secretary</a></div>
                    <div class="block" {% if active == 'members' %} id="active">{% endif %}<a
                            href="{% url 'members' %}">Members</a></div>
                    <div class="block" {% if active == 'minutes_of_meeting' %} id="active">{% endif %}<a
                            href="{% url 'minutes_of_meeting' %}">Minutes of meetings</a></div>
                </div>
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </div>

{% endblock %}