{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/side_nav.css' %}">
    {% block title %}
        <title>Coordination Forum</title>
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                <div class="side">
                    <div class="block" {% if active == 'forum_chairman' %} id="active" {% endif %}>
                    <a href="{% url 'forum_chairman' %}">Chairman</a></div>
                    <div class="block" {% if active == 'forum_secretary' %} id="active"{% endif %}>
                    <a href="{% url 'forum_secretary' %}">Secretary</a></div>
                    <div class="block" {% if active == 'forum_members' %} id="active"{% endif %}>
                    <a href="{% url 'forum_members' %}">Members</a></div>
                    <div class="block" {% if active == 'forum_meeting_minutes' %} id="active" {% endif %}>
                    <a href="{% url 'forum_meeting_minutes' %}">Minutes of meetings</a></div>
                </div>
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </div>

{% endblock %}