/*Global styles*/
a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

div.side a{
    display: block;
}

h2 {
  font-weight: 600;
}

/*For the section navbar and content*/
.container-fluid {
  width: 100%;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*For side nav bar*/
.side a:hover {
  color: #0056b3;
  text-decoration: none;
}

.side {
  font-weight: 600;
  margin: 0;
}

@media (max-width: 768px) {
  .side {
    display: none;
  }
}

/*For active item in side bar*/
#active {
  color: black;
  background-color: rgb(221,221,221);
  border-left: 5px solid rgb(25,0,86);
  text-decoration: none;
}

/*To navigate to particular page*/
.block {
  margin: 0;
  text-align: left;
  padding: 10px;
}

.block:hover {
  background-color: rgb(221,221,221);
}

.block a:hover {
  text-decoration: none;
  color: black;
}

/*For side nav bar section*/
.col-sm-2.col-xs-2.col-md-2.col-lg-2.col-xl-2 {
  background-color: #f2f3f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*Content for the page*/
.col-sm-10 h3 {
  font-weight: 300;
}
.col-sm-10 h5 {
  font-weight: 600;
}

@media(min-width: 768px){
  .col-sm-10{
    font-size: 1.1rem;
  }
}

@media(max-width: 768px){
  .col-sm-10{
    font-size: 1rem;
  }
}


.underline {
  border-top: 3px solid;
  width: 4%;
  margin: 0;
  margin-bottom: 5px;
}

.h2 {
  font-size: 2rem;
  margin-top: 10px;
}
