{% extends 'collaboration/collaboration_base.html' %}
{% load static %}
{% block title %}
    <title>MoU | Collaboration</title>
{% endblock %}

{% block content %}
    <div class="col-sm-10">
        <h2>Memorandum of Understanding</h2>
        <p style="font-size: 17px;">
            The links to the documents of the MoUs of the IIITs shall be available here<br/>
        </p>
        <p style="font-size: 14px;">
            ** Click on the following college names to see their MOUs:
        </p>
        <div role="tablist" id="accordion-1">
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1"
                           href="#accordion-1 .item-1" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-1">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2"
                           href="#accordion-1 .item-2" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-2">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3"
                           href="#accordion-1 .item-3" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4"
                           href="#accordion-1 .item-4" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-4">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-5"
                           href="#accordion-1 .item-5" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-5">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-6"
                           href="#accordion-1 .item-6" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-6">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-7"
                           href="#accordion-1 .item-7" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-7">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-8"
                           href="#accordion-1 .item-8" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-8">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-9"
                           href="#accordion-1 .item-9" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-9">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-10"
                           href="#accordion-1 .item-10" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-10">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-11"
                           href="#accordion-1 .item-11" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-11">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-12"
                           href="#accordion-1 .item-12" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-12">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div role="tab" class="card-header">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-13"
                           href="#accordion-1 .item-13" style="font-size: 17px;">Indian Institute of Information
                            Technology, Sri
                            City</a>
                    </h5>
                </div>
                <div role="tabpanel" data-parent="#accordion-1" class="collapse item-13">
                    <div class="card-body">
                        <p class="card-text">
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            elit non mi porta gravida at eget metus.
                        </p>
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <img src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/mit.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/mit.png' %}"
                                                            style="width: 180px;"/><img
                                src="{% static 'img/collab/stanford.png' %}" style="width: 180px;"/><img
                                src="{% static 'img/collab/34247.png' %}"
                                style="width: 180px;"/><img src="{% static 'img/collab/stanford.png' %}"
                                                            style="width: 180px;"/><img
                                src="assets/img/mit.png" style="width: 180px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}