{% extends 'research/research_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/side_nav.css' %}">
    <title>Publications | Research</title>
{% endblock %}

{% block main_content %}
    <div class="col-sm-10">
        <span class="border-bottom border-dark"><h2>Patents</h2></span>

        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">Name of the Institute

                </th>
                <th class="th-sm">Academic Year

                </th>
                <th class="th-sm">Number of patents filled in this academic year

                </th>
                <th class="th-sm">Number of patents granted in this academic year

                </th>
                <th class="th-sm">URL with details

                </th>
                <th class="th-sm">Annual Report with reference page no.

                </th>
                <th class="th-sm">Annual Report Reference page no.

                </th>
                <th class="th-sm">Uploaded Date

                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>

            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>
                <td>2011/07/25</td>

            </tr>


            </tbody>

        </table>
    </div>
{% endblock %}
