{% extends 'research/research_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/side_nav.css' %}">
    <title>Projects | Research</title>
{% endblock %}

{% block main_content %}
    <div class="col-sm-10">
    <span class="border-bottom border-dark">
        <h2>Projects</h2>
    </span>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IIIT Sri City</h4>
                        <h6><b>Sponsored Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Consultancy Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>International Projects</b> -</h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Any other Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <!--<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IIIT Sri City</h4>
                        <h6><b>Sponsored Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Consultancy Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>International Projects</b> -</h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Any other Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <!--<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>-->
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IIIT Sri City</h4>
                        <h6><b>Sponsored Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Consultancy Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>International Projects</b> -</h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Any other Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <!--<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IIIT Sri City</h4>
                        <h6><b>Sponsored Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Consultancy Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>International Projects</b> -</h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Any other Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <!--<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>-->
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IIIT Sri City</h4>
                        <h6><b>Sponsored Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Consultancy Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>International Projects</b> -</h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Any other Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <!--<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IIIT Sri City</h4>
                        <h6><b>Sponsored Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Consultancy Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>International Projects</b> -</h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <h6><b>Any other Projects</b> - </h6>
                        <h6>Total no of projects approved - 122</h6>
                        <h6>Total Amount: ₹ 7,981.00 </h6>
                        <!--<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
