{% extends 'admission/admission_base.html' %}
{% load static %}
{% block title %}
    <title>Entrance Exam | Admission</title>
{% endblock %}

{% block content %}
    <div class="col-sm-10">
        <h2>Entrance Exams</h2>
        <p style="font-size: 17px;">
            Information regarding how to get admission into a IIIT via entrance exams shall be available here<br/>
        </p>
        <h4>Rmakso:</h4>
        <p style="font-size: 17px;">
            Donec dignissim dui sem, quis viverra ligula maximus vel. In
            efficitur nisi et enim ornare venenatis. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel
            enim sed quam egestas imperdiet. Nam consectetur leo lectus, a
            consectetur diam posuere ac. Duis tincidunt lectus tempus mattis
            tempus.<br/>
        </p>
        <p style="font-size: 17px;">
            In
            efficitur nisi et enim ornare venenatis. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel
            enim sed quam egestas imperdiet. Nam consectetur leo lectus, a
            consectetur diam posuere ac. Duis tincidunt lectus tempus mattis
            tempus.<br/>
        </p>
        <h4>Ornare:</h4>
        <p style="font-size: 17px;">
            Aliquam venenatis est finibus, aliquet orci et, tincidunt libero. Donec
            ac lorem gravida, hendrerit massa non, fermentum orci. Phasellus vitae
            aliquam lorem, non varius nisl. Vestibulum lacus odio, molestie ut
            iaculis vitae, egestas quis turpis. Nullam laoreet congue risus nec
            varius. Donec dignissim dui sem, quis viverra ligula maximus vel.<br/>
        </p>
    </div>
{% endblock %}
