{% extends 'admission/admission_base.html' %}
{% load static %}
{% block title %}
    <title>Information | Admission</title>
{% endblock %}

{% block content %}
    <div class="col-sm-10">
        <h2>Admissions</h2>
        <p style="font-size: 17px;">
            The admission to IIIT is through Central Seat allocation Board (CSAB). The students are allotted admission
            by CSAB based on their Joint Entrance Examination (JEE-Main) ranks. The Indian Institutes of Information
            Technology are listed in the CSAB website under List of participating institutes in Other Central Government
            / State Government Funded Technical Institutes.<br/>
        </p>
        <h4>Libero:</h4>
        <p style="font-size: 17px;">
            Aliquam venenatis est finibus, aliquet orci et, tincidunt libero. Donec
            ac lorem gravida, hendrerit massa non, fermentum orci. Phasellus vitae
            aliquam lorem, non varius nisl. Vestibulum lacus odio, molestie ut
            iaculis vitae, egestas quis turpis. Nullam laoreet congue risus nec
            varius. Donec dignissim dui sem, quis viverra ligula maximus vel. In
            efficitur nisi et enim ornare venenatis. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel
            enim sed quam egestas imperdiet. Nam consectetur leo lectus, a
            consectetur diam posuere ac. Duis tincidunt lectus tempus mattis
            tempus.<br/>
        </p>
        <p style="font-size: 17px;">
            Aliquam venenatis est finibus, aliquet orci et, tincidunt libero. Donec
            ac lorem gravida, hendrerit massa non, fermentum orci. Phasellus vitae
            aliquam lorem, non varius nisl. Vestibulum lacus odio, molestie ut
            iaculis vitae, egestas quis turpis. Nullam laoreet congue risus nec
            varius. Donec dignissim dui sem, quis viverra ligula maximus vel. In
            efficitur nisi et enim ornare venenatis. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel
            enim sed quam egestas imperdiet. Nam consectetur leo lectus, a
            consectetur diam posuere ac. Duis tincidunt lectus tempus mattis
            tempus.<br/>
        </p>
        <h4>Finbous:</h4>
        <p style="font-size: 17px;">
            Aliquam venenatis est finibus, aliquet orci et, tincidunt libero. Donec
            ac lorem gravida, hendrerit massa non, fermentum orci. Phasellus vitae
            aliquam lorem, non varius nisl. Vestibulum lacus odio, molestie ut
            iaculis vitae, egestas quis turpis. Nullam laoreet congue risus nec
            varius. Donec dignissim dui sem, quis viverra ligula maximus vel. In
            efficitur nisi et enim ornare venenatis. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel
            enim sed quam egestas imperdiet. Nam consectetur leo lectus, a
            consectetur diam posuere ac. Duis tincidunt lectus tempus mattis
            tempus.<br/>
        </p>
    </div>
{% endblock %}
